record (mbbo, "TEST:mbbo_$(DEV)"){
	field(DESC, "")
	field(DTYP, "F3RP61")
	field(OUT, "$(OUT_FIELD)")
	field(ZRVL, "0")
        field(ONVL, "1")
        field(TWVL, "2")
        field(THVL, "3")
        field(FRVL, "4")
        field(FVVL, "5")
        field(SXVL, "6")
        field(SVVL, "7")
        field(EIVL, "8")
        field(NIVL, "9")
        field(TEVL, "10")
        field(ELVL, "11")
        field(ZRST, "0")
        field(ONST, "1")
        field(TWST, "2")
        field(THST, "3")
        field(FRST, "4")
        field(FVST, "5")
        field(SXST, "6")
        field(SVST, "7")
        field(EIST, "8")
        field(NIST, "9")
        field(TEST, "10")
        field(ELST, "11")
}
